.user
  %img.user_image{:src => "/images/user.png"}
  %h3.user_name Administrador

.title
  %h1 VENTAS

.content

  %p Seleccione una opción:

  .botones
    %button.summit_menu_ventas Crear
    %button.summit_menu_ventas Facturar
    %button.summit_menu_ventas Cancelar
