%div.user
  %img.user_image{:src => "/images/user.png"}
  %h3.user_name Administrador
%div.menu
  %button.options
    %a{:href => url(:products, :products)}  Productos
  %button.options
    %a{:href => url(:reports, :reports)} Reportes
  %button.options
    %a{:href => url(:sales, :sales)}  Ventas
  %button.options
    %a{:href => url(:expenses, :expenses)}  Gastos y Compras
%div.date
